@import url("./../../assets/styles/fonts.scss");

.merits {
  background-color: #060607;
  color: #dedede;
  .merits__container {
    padding: 152px 150px 195px 57px;
    .merits__wrapper {
      display: flex;
      justify-content: space-between;
      .merits_text {
        margin-top: 57px;
        .merits_text_items {
          margin-bottom: 30px;
          .merits_text_item {
            font-family: "Ermilov-Bold";
            text-transform: uppercase;
            font-size: 63px;
            line-height: 72px;
            margin-bottom: 0;
          }
        }

        small {
          font-family: "Inter-Medium";
          font-size: 20px;
          line-height: 39px;
        }
      }
      .merits__titles {
        font-family: "Inter-SemiBold";
        .title__items {
          max-width: 282px;
          .title__item {
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 61px;
            .title_item__img_conteiner {
              margin-bottom: 28px;
              position: relative;
              display: flex;
              align-items: flex-end;
              justify-content: center;

              .title_item__img {
                width: 71px;
                height: 71px;
                background-repeat: no-repeat;
                background-position: bottom;
              }

              &::after {
                content: " ";
                position: absolute;
                bottom: -3px;
                width: 160.45px;
                height: 14.95px;
                border-radius: 10px;
                border: 1px solid;
                backdrop-filter: blur(26px) saturate(200%) contrast(200%);
              }
            }
            .title_item__text {
              font-size: 22px;
              text-transform: uppercase;
              line-height: 35px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            &:nth-child(1) {
              .title_item__img_conteiner {
                &::after {
                  border-color: #ff9100;
                }
              }
            }
            &:nth-child(2) {
              .title_item__img_conteiner {
                &::after {
                  border-color: #9747ff;
                }
              }
            }
            &:nth-child(3) {
              .title_item__img_conteiner {
                &::after {
                  border-color: #2072fa;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .merits {
    .merits__container {
      padding: 136px 20px 181px 24px;
      .merits__wrapper {
        .merits_text {
          margin-top: 0;
          .merits_text_items {
            .merits_text_item {
              margin-bottom: 61px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .merits {
    .merits__container {
      padding: 40px 20px 40px 24px;

      .merits__wrapper {
        .merits_text {

          .merits_text_items {
            .merits_text_item {
              font-size: 34px;
              margin-bottom: 20px;
              line-height: 30px;
            }
          }

          small {
            font-size: 16px;
            line-height: 28px;
          }
        }

        .merits__titles {
          display: none;
          .title__items {
            .title__item {
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }
}
