@keyframes aniOpen {
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
  }
.open {
  display: block;
}
.close {
  display: none;
}
.navigation {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 308px;
  font-family: "Inter-Regular";
  animation: aniOpen 2s forwards;

  .navigation__container {
    backdrop-filter: blur(26px) saturate(200%) contrast(200%);
    border: 1px solid #808080;
    border-radius: 0px 15px 15px 0px;
    height: 100%;
    display: flex;
    align-items: center;

    .navigation__close {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      right: -21px;
      border: 1px solid #808080;
      background-color: #a60c0c;
      position: absolute;
      background-image: url("./../../assets/img/close.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    .navigation__wrapper {
      padding: 30px 57px 62px 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .navigation__logo {
        display: flex;
        align-items: center;
        padding-left: 12px;
      }

      .navigation__buttons {
        display: flex;
        flex-direction: column;
        padding-left: 63px;
        margin-bottom: 20px;
        .navigation__button {
          width: 143px;
          height: 42px;
          margin-bottom: 27px;
          border-radius: 10px;
          background-color: #1d2023;
          color: #808080;
          display: flex;
          align-items: center;
          justify-content: center;
          .button__icon {
            background-image: url("./../../assets/img/am.svg");
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .navigationButtom__buttons {
        padding-left: 57px;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        .navigationButtom__buttonPersonal {
          width: 193px;
          height: 42px;
          margin-bottom: 31px;
          border-radius: 10px;
          background-color: #ff0000;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;

          .button__iconPersonal {
            background-image: url("./../../assets/img/am-white.svg");
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
        }
        .navigationButtom__buttonOrder {
          color: #b9b9b9;
          width: 193px;
          height: 42px;
          border-radius: 10px;
          font-weight: bold;
          background: linear-gradient(
            to bottom right,
            #d80f0f91 50%,
            #a60c0c 50%
          );
        }
      }
    }
  }
}
