.sidebar {
  position: fixed;
  height: 100%;
  z-index: 2;
  .sidebar__container {
    padding: 30px 17px;
    height: 100%;
    max-width: 93px;

    background-color: #090909;
    .logo {
      .logo__link {
        .logoLink__img {
          width: 59.5px;
          height: 59.5px;
        }
      }
    }

    .acivateSidebar {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 20px;
      .acivateSidebar__link {
        background-image: url("./../../assets/img/sidebar.png");
        width: 31px;
        height: 22px;
        background-color: unset;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
