/***********************
        Inter
***********************/
@font-face {
    font-family: 'Inter-Regular';
    src: url('./../fonts/inter/Inter-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter-Light';
    src: url('./../fonts/inter/Inter-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('./../fonts/inter/Inter-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('./../fonts/inter/Inter-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./../fonts/inter/Inter-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('./../fonts/inter/Inter-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter-Inter-Black';
    src: url('./../fonts/inter/Inter-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/***********************
        Ermilov
***********************/
@font-face {
    font-family: 'Ermilov-Bold';
    src: url('./../fonts/ermilov/Ermilov-bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

/***********************
        AcherusFeral
***********************/
@font-face {
    font-family: 'AcherusFeral-Bold';
    src: url('./../fonts/acherus feral/Horizon\ Type\ -\ AcherusFeral-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'AcherusFeral-Light';
    src: url('./../fonts/acherus feral/Horizon\ Type\ -\ AcherusFeral-Light.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/***********************
        Montserrat
***********************/
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}