* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0;
  border: none;
}

.wrapper {
  .wrapper__data {
    margin-left: 93px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .wrapper__data {
      margin-left: 0;
    }
  }
}
